.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis/data/raw_data/project_data/twitter_na_2017-09_ny.csv.gz
analysis/data/raw_data/project_data/twitter_na_2017-10_ny.csv.gz
analysis/data/raw_data/project_data/twitter_na_2017-11_ny.csv.gz
.RDataTmp3
.RDataTmp4
.RDataTmp5
data/raw_data/twitter_data/twitter_na_2017-09_ny.csv.gz
data/raw_data/twitter_data/twitter_na_2017-10_ny.csv.gz
data/raw_data/twitter_data/twitter_na_2017-11_ny.csv.gz
data/derived_data/user_data/twitter_data_user_origin_2017-09.csv
data/derived_data/user_data/nyc_data_with_user_origin.csv
.positai
Geog-469-City-Flow.Rproj
